@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://cdn.akamai.steamstatic.com/apps/csgo/images/csgo_react/cs2/header_bg.svg);
    background-repeat:no-repeat;
    background-size: cover center;
}

.register-btn{
    background-color: antiquewhite;
}

.main-box{
    opacity: 0.9;
}
