body{
    margin:0;
    width: 100%;
    background-color: rgba(37, 37, 32, 0.348);
}
h1{
    margin: 0;
}
.websiteName{
    background-color: black;
    text-align: right;
    top: 0;
}
.websiteName{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 80px;
    z-index: 1;
}
.headerLeftSection{
    display: flex;
}
.headerLeftSection h1{
    color: white;
}
.headerLeftSection h1, .headerLeftSection img{
    margin: auto 10px;
}
.headerLeftSection img{
    height: 80px;
    border-radius: 50%;
}
.headerRightSection{
    display: flex;  
}
.headerRightSection nav{
    margin: auto ;
    width: 90px;
    display: flex;
    justify-content: center;
}
.headerRightSection nav a{
    text-decoration: none;
}
.headerRightSection nav a:visited{
    color: white;
}
.headerRightSection nav a:hover{
    color: plum;
    font-size: 18px;
}
.loginNav{
    display: flex;
    align-items: center;
}
.loginNav #loginBttn, .loginNav #signUpBttn{
    font-size: 18px;
    color: blue;
    padding: 10px 13px;
    border-radius: 5px;
    border-color: blue;
    border-width: 4px;
    margin: 0 15px;
}
.loginNav #signUpBttn{
    background-color: lightcyan;
}
/*side bar*/
.sidebar {
    height: 100%;
    width: 250px; /* Width of the sidebar */
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #483c3c; /* Sidebar background color */
    overflow-x: hidden;
    padding-top: 20px;
  }
  main{
    margin-left: 250px;
  }
  .sidebar-nav ul {
    list-style-type: none;
    padding: 0;
  }


  .sidebar-nav ul li a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  .sidebar-nav ul li a:hover {
    color: #f1f1f1;
  }
.searchCart{
    height: 150px;
    background-color: grey;
    display: flex;
    align-items:end;
    justify-content:center;
}
.searchBar #searchBar{
    margin: 15px;
    width: 300px;
    height: 40px;
    font-size: 15pt;
}
.searchCart .cart button{
    width: 180px;
    height: 50px;
    background-color: lightgrey;
    padding: 10px 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 70px;
}
.searchCart .cart button i{
    width: 30px;
    height: 30px;
    margin-top: 20px ;
    margin-left: 10px;
}
.searchCart .cart button:hover{
    background-color: whitesmoke;
}

.searchCart .cart button:active{
    position: relative;
    top: 4px;
    transition: all 0.3s;
}
.grid-container {
    position: relative;
    top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 30px; /* Optional: Adds space between the grid items */
    margin-left: 60px;
    margin-right: 60px;
}
.grid-item {
    background-color: rgb(96, 90, 83);
    border: 1px solid #000;
    display: inline-block; /* Ensure the grid item doesn't take full width */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px; /* Example height */
    width: 350px;
    flex-direction: column;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}
.grid-item:hover{
    cursor: pointer;
    background-color: grey;
    transform: scale(1.06);
}
.grid-item img{
    height: 200px;
    width: 250px;
}
.grid-item .addCartBttn{
    width: 280px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    transition: transform 0.3s ease;
    border: none;
    padding: 10px 10px;
    margin: 35px 0px 0px 0px;
    cursor: pointer;
}
.grid-item .addCartBttn:hover{
    background-color: lightgreen;
}
.grid-item .addCartBttn:active{
    transform: scale(1.06);
}

/*Footer section*/
.footer {
    background-color: #2c2c2c; /* Dark background */
    color: white;
    padding: 100px 0;
    font-family: Arial, sans-serif;
    max-height: 300px;
  }
.footer-header p{
    margin: 0px 0px 60px 10px;
    font-size: 18pt;
    font-weight: bold;
}
  .logo-container{
    display: flex;
  }
  .logo-container img{
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;                       
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer-section {
    flex: 1;
  }
  .footer-section h5 {
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 15pt;
  }
  .footer-section ul {
    font-size: 15pt;
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li a {
    color: #9d9d9d;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  .list-group{
    height: 50vh;
    margin: 15px;
  }
  .list-item{
    display:flex;
    justify-content: space-between;
  }

  .list-item p{
    width: 40vw;
  }
  .list-item span{
      margin: auto 0;
  }
  .checkOut{
    height: 10vh;
    width: 70vw;
    text-align: right;
  }
  .price{
    margin-right:15px;
  }
  .quantityi{
    margin-left:15px;
  }
  .quantityd{
    margin-right:15px;
  }
.list-group .fa-money-bill-1{
  margin: 0 15px;
}
.payment{
  height: 10vh;
  display: flex;
  margin-left: 30px;
}
.payment .dropdown{ 
  width: 300px;
margin-left: 30px;
}
.payment span{ 
padding-top: 5px;
}
.CheckOutInfo{
  margin-left: 30px;
}
.CheckOutInfo h5{
  margin: 10px 0;
}