body{
    margin:0;
    width: 100%;
    background-color: rgba(37, 37, 32, 0.348);
}
h1{
    margin: 0;
}
.websiteName{
    background-color: black;
    text-align: right;
    top: 0;
}
.websiteName{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 80px;
    z-index: 1;
}
.headerLeftSection{
    display: flex;
}
.headerLeftSection h1{
    color: white;
}
.headerLeftSection h1, .headerLeftSection img{
    margin: auto 10px;
}
.headerLeftSection img{
    height: 80px;
    border-radius: 50%;
}
.headerRightSection{
    display: flex;  
}
.headerRightSection nav{
    margin: auto ;
    width: 90px;
    display: flex;
    justify-content: center;
}
.headerRightSection nav a{
    text-decoration: none;
}
.headerRightSection nav a:visited{
    color: white;
}
.headerRightSection nav a:hover{
    color: plum;
    font-size: 18px;
}
.loginNav{
    display: flex;
    align-items: center;
}
.loginNav #loginBttn, .loginNav #signUpBttn{
    font-size: 18px;
    color: blue;
    padding: 10px 13px;
    border-radius: 5px;
    border-color: blue;
    border-width: 4px;
    margin: 0 15px;
}
.loginNav #signUpBttn{
    background-color: lightcyan;
}
body{
    margin:0;
    width: 100%;
}
h1{
    margin: 0;
}
.websiteName{
    background-color: black;
    text-align: right;
    top: 0;
}
.websiteName{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    z-index: 1;
}
.headerLeftSection{
    display: flex;
}
.headerLeftSection h1, .headerLeftSection img{
    margin: auto 10px;
}
.headerLeftSection img{
    height: 50px;
    border-radius: 50%;

}
.headerRightSection{
    display: flex;  
}
.headerRightSection nav{
    margin: auto ;
    width: 90px;
    display: flex;
    justify-content: center;
}
.headerRightSection nav a{
    text-decoration: none;
}
.headerRightSection nav a:hover{
    color:bisque;
    font-size: 18px;
}

.contentLeft{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url("https://t3.ftcdn.net/jpg/01/85/75/08/360_F_185750874_rTbc977EBOkAS5a8lTCuwJYoUqwT0Zkh.jpg");
    height:1000px;
    font-size: 40px;
    margin: 60px 0 0 0;
    background-repeat: no-repeat ;
    background-size: cover;
    display: flex;
    text-align: left;
}
.contentLeft section{
    position: relative;
    top: 20px;
    width: 300px;
}
.contentFeaturedProduct{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(242, 146, 21);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThruXcnkpd-gGDudVtQwkmXdV8bOx5rSY2gA&s");
    height: 1000px;
    font-size: 30px;
    text-align: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.productDetails .product h3{
    color: burlywood;
}
.productDetails .product p{
    color: white;
}
.productDetails .product img{
    width: 125px;
    height: 200px;
}
.productDetails .product img:hover{
    width: 150px;
    height: 225px;
}
footer nav a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
