.header {
  width: 100%;
  background: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
}
.sidebar {
  width: 300px;
  background: #333;
  color: white;
  height: 100vh;
}
.sidebar a {
  color: white;
  padding: 20px;
  display: block;
  text-decoration: none;
  margin: 10px;
}
.sidebar a:hover {
  background: #575757;
}
.body {
  display: flex;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.actions {
  text-align: center;
}
.search button {
  margin: 0;
}
.button {
  padding: 5px 15px;
  margin: 5px;
}
.search {
    display:flex;
    justify-content: center;
  margin: 20px 10px;
}
.search input{
    background-color: gray;
}
.contain{
    margin: 0 20px;
}
