body{
    margin:0;
    width: 100%;
}
h1{
    margin: 0;
}
.websiteName{
    background-color: chocolate;
    text-align: right;
    top: 0;
}
.websiteName{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    z-index: 1;
}
.headerLeftSection{
    display: flex;
}
.headerLeftSection h1, .headerLeftSection img{
    margin: auto 10px;
}
.headerLeftSection img{
    height: 50px;
    border-radius: 50%;

}
.headerRightSection{
    display: flex;  
}
.headerRightSection nav{
    margin: auto ;
    width: 90px;
    display: flex;
    justify-content: center;
}
.headerRightSection nav a{
    text-decoration: none;
}
.headerRightSection nav a:hover{
    color:bisque;
    font-size: 18px;
}

.searchCart{
    height: 150px;
    background-color: blue;
}
.grid-container {
    position: relative;
    top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px; /* Optional: Adds space between the grid items */
    margin-left: 100px;
    
}
.grid-item {
    background-color: lightblue;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; /* Example height */
    width: 300px;
}