body{
    margin:0;
    width: 100%;
    background-color: rgba(37, 37, 32, 0.348);
}
h1{
    margin: 0;
}
.websiteName{
    background-color: black;
    text-align: right;
    top: 0;
}
.websiteName{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 80px;
    z-index: 1;
}
.headerLeftSection{
    display: flex;
}
.headerLeftSection h1{
    color: white;
}
.headerLeftSection h1, .headerLeftSection img{
    margin: auto 10px;
}
.headerLeftSection img{
    height: 80px;
    border-radius: 50%;
}
.headerRightSection{
    display: flex;  
}
.headerRightSection nav{
    margin: auto ;
    width: 90px;
    display: flex;
    justify-content: center;
}
.headerRightSection nav a{
    text-decoration: none;
    color: white;
}
.headerRightSection nav a:visited{
    color: white;
}
.headerRightSection nav a:hover{
    color: plum;
    font-size: 18px;
}
.loginNav{
    display: flex;
    align-items: center;
}
.loginNav #loginBttn, .loginNav #signUpBttn{
    font-size: 18px;
    font-weight: bold;
    color: blue;
    padding: 10px 13px;
    border-radius: 5px;
    border-color: blue;
    border-width: 4px;
    margin: 0 15px;
}
.loginNav #signUpBttn{
    background-color: lightcyan;
}

/*sidebar*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar i{
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    top: 6px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: flex;
    transition: 0.3s;
}

.sidebar a:hover{
    color: orange;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: orange;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 160px;
    left: 20px;
    z-index: 1;
}

#main {
    transition: margin-left .2s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.hidden {
    display: none;
}

/* Backdrop styling */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

/*Searchcart css*/
.searchCart{
    height: 120px;
    background-color: grey;
    display: flex;
    align-items:end;
    justify-content:center;
}
.searchBar #searchBar{
    margin: 15px;
    width: 300px;
    height: 40px;
    font-size: 15pt;
}
.searchCart .cart button{
    width: 180px;
    height: 50px;
    background-color: lightgrey;
    padding: 10px 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 70px;
}
.searchCart .cart button i{
    width: 30px;
    height: 30px;
    margin-top: 20px ;
    margin-left: 10px;
}
.searchCart .cart button:hover{
    background-color: whitesmoke;
}
.searchCart .cart button:active{
    position: relative;
    top: 4px;
    transition: all 0.3s;
}
.grid-container {
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 30px; /* Optional: Adds space between the grid items */
    margin-left: 80px;
    margin-right: 80px;
}
.grid-item {
    background-color: rgb(96, 90, 83);
    border: 1px solid #000;
    display: inline-block; /* Ensure the grid item doesn't take full width */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    flex-direction: column;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}
.grid-item:hover{
    cursor: pointer;
    background-color: grey;
    transform: scale(1.06);
}
.grid-item img{
    height: 200px;
    width: 250px;
}
.grid-item .buyItemBtn{
    width: 280px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    transition: transform 0.3s ease;
    border: none;
    padding: 10px 10px;
    margin: 10px 0;
    cursor: pointer;
}
.grid-item .buyItemBtn:hover{
    background-color: lightgreen;
}
.grid-item .buyItemBtn:active{
    transform: scale(1.06);
}

/* Sorting features navigation */
.sortingFeatures {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sortingFeatures button {
    width: 160px;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.4s; /* Transition for background color and text color */

}

.sortingFeatures button:hover {
    background-color: orange;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between dropdowns */
}


.dropdownContent {
    width: 160px;
    display: none;
    position: absolute;
    min-width: 130px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Show dropdown content when hovering over dropdown */
.dropdown:hover .dropdownContent {
    display: block;
    opacity: 0.95;
  }

.dropdownContent button {
    width: 100%;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    text-align: left;
}

.dropdownContent button:hover {
    background-color: orange;
}

  .grid-item p{
    text-align: center;
    margin: 0px 5px;
    font-size: 12pt;
    color: white;
}
.grid-item figcaption{
    text-align: center;
    margin: 5px 5px;
    font-size: 15pt;
    color: orange;
    font-weight: bold;
}