body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://cdn.akamai.steamstatic.com/apps/csgo/images/csgo_react/cs2/header_bg.svg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}